.row
  .span6
    %p Please enter a valid postfix expression below:

    = form_tag('/calculate', method: :get) do
      = text_area_tag 'input', nil, :rows => '10', :id => 'calc-input'
      -# Enable to use non-Ajax form submission.
      -#= submit_tag 'Calculate', :class => 'btn btn-primary'
      %a.btn.btn-primary.pull-right(onclick="$.get('/calculate.text?' + $('#calc-input').serialize(), function(data) { $('#results').html(data) })") Calculate

  .span6
    %p Results
    %pre#results(style='height: 190px')
