%h1 Reverse Polish Notation Calculator

%p Please enter a valid expression below:

= form_tag('/calculate', method: :get) do
  = text_area_tag('input', nil, rows: 5, cols: 25)
  %br
  = submit_tag('Calculate!')
